.loading {    
    display: none; /* 通常時は非表示 */
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    color: gray;
}

/* #loading_box .fas {
    position: absolute;
    top: 35%;
    left: 35%;
    margin: -40px 0 0 -40px;
    width: auto;
} */

.text-report {
    height: 119px;
}

.none {
    display:none;
}

.fa-spinner {
    font-size: 60px;
}

.fa-book,
/* 時間 */
.fa-clock,
/* ページ */
.fa-file-alt,
/* 章 */
.fa-scroll,
/* レッスン */
.fa-comments {
    font-size: 22px;
    color: #fff;  
}

.report-chapter {
    background-color: #800000;
}

.report-page {
    background-color: #00BB00;
}
  
.report-lesson {
    background-color: #FFBBFF;
}