#goalChart {
    float: left;
}
.now_progress {
    font-weight: bold;
    font-size: 32px;
}
.card {
    margin-bottom: 0px;
}
.card-header h4 {
    color:#6c757d !important;
}
.invalid-feedback {
    width:300px;
}